In [1]:
import random
import pandas as pd
import numpy as np

# Pair Intro Pandas

### Tenemos un csv que se llama medallas.csv

## 1. ¿Qué diferencia hay entre una Serie y un DataFrame?

In [ ]:
#       La Serie tiene una dimensión y el Dataframe tiene dos

## 2. Crea dos listas:

### Una que se llame "valores" que tenga 7 números aleatorios.

In [3]:
valores = [random.randint(1, 50) for x in range (7)]
valores

[23, 26, 48, 12, 6, 50, 8]

### Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [4]:
indices = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]
indices

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

### A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie  y la variable indices sean los índices de la Serie.

In [5]:
serie_semana = pd.Series(valores, indices)
serie_semana

lunes        23
martes       26
miercoles    48
jueves       12
viernes       6
sabado       50
domingo       8
dtype: int64

### A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez.

In [8]:
diccionario = {}
for i,x in zip(valores, indices): # i son valores(numeros) y x son indices(dias semana)
    diccionario[x]=i

print(diccionario)

{'lunes': 23, 'martes': 26, 'miercoles': 48, 'jueves': 12, 'viernes': 6, 'sabado': 50, 'domingo': 8}

### Crea una Serie con el diccionario creado en el punto anterior.

In [9]:
serie_diccionario = pd.Series(diccionario)
serie_diccionario

lunes        23
martes       26
miercoles    48
jueves       12
viernes       6
sabado       50
domingo       8
dtype: int64

### ¿Qué forma tiene esta última Serie?

In [10]:
serie_diccionario.shape #Tiene 7 filas, es unidimensional

(7,)

### ¿Qué tipo de datos tiene?

In [11]:
serie_diccionario.dtypes # Tiene integers

dtype('int64')

### ¿Qué tamaño tiene?

In [12]:
serie_diccionario.size # Tiene 7 elementos

7

### ¿Cuáles son los índices de la Serie?

In [13]:
serie_diccionario.index #Los indices son los dias de la semana

Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')

### ¿Y los values?

In [14]:
serie_diccionario.values # Los values son los números de la lista

array([23, 26, 48, 12,  6, 50,  8])

### Extrae el valor para el índice "lunes"

In [15]:
serie_diccionario["lunes"]

23

### Extrae el valor para el índice "lunes", "martes" y "miércoles".

In [17]:
serie_diccionario[["lunes", "martes", "miercoles"]]

lunes        23
martes       26
miercoles    48
dtype: int64

In [18]:
serie_diccionario["lunes":"miercoles"] #Así cogemos un rango

lunes        23
martes       26
miercoles    48
dtype: int64

### Extrae el valor para el índice "lunes" y "domingo".

In [ ]:
serie_diccionario[["lunes", "domingo"]]

# 3. Es el turno de los DataFrames

### Crea un array de dos dimensiones con 4 filas y 3 columnas.

In [21]:
array = np.empty((4,3))
array

array([[4.64175555e-310, 0.00000000e+000, 1.03977794e-312],
       [9.54898106e-313, 1.10343781e-312, 1.01855798e-312],
       [1.23075756e-312, 1.14587773e-312, 1.08221785e-312],
       [9.76118064e-313, 1.03977794e-312, 1.90979621e-312]])

### Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [25]:
df_array = pd.DataFrame(array, columns=["España", "Francia", "Italia"])
df_array

          España        Francia         Italia
0  4.641756e-310   0.000000e+00  1.039778e-312
1  9.548981e-313  1.103438e-312  1.018558e-312
2  1.230758e-312  1.145878e-312  1.082218e-312
3  9.761181e-313  1.039778e-312  1.909796e-312

### Descarga el archivo "medallas" y carga el DataFrame.

In [45]:
df_medallas = pd.read_csv("medallas.csv", index_col=0)
df_medallas

               País   Oro  Plata  Bronce
1             China  1473    994     720
2             Japón  1032   1037     985
3     Corea del Sur   745    663     827
4              Irán   179    181     197
5        Kazajistán   155    158     224
6             India   154    202     315
7         Tailandia   132    175     278
8         Indonesia   112    131     240
9      China Taipéi    99    144     276
10  Corea del Norte    91    120     235

### Usando el loc extrae todas las columnas de la fila de Tailandia.

In [46]:
df_medallas.loc[7, :]

País      Tailandia
Oro             132
Plata           175
Bronce          278
Name: 7, dtype: object

### Usando el loc extrae todas las columnas de China e Irán.

In [47]:
df_medallas.loc[[1,4]]

    País   Oro  Plata  Bronce
1  China  1473    994     720
4   Irán   179    181     197

### Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

In [49]:
df_medallas.loc[[1,4], ["Oro", "Plata", "Bronce"]]

    Oro  Plata  Bronce
1  1473    994     720
4   179    181     197

### Usando el iloc extrae la información de la India. Devolved todas las columnas.

In [50]:
df_medallas.iloc[5]

País      India
Oro         154
Plata       202
Bronce      315
Name: 6, dtype: object

### Usando el iloc extrae todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

In [53]:
df_medallas.iloc[1::2]

               País   Oro  Plata  Bronce
2             Japón  1032   1037     985
4              Irán   179    181     197
6             India   154    202     315
8         Indonesia   112    131     240
10  Corea del Norte    91    120     235

### Utilizando el código del ejercicio anterior,selecciona unicamente las columnas "Oro", "Plata" y "Bronce".

In [63]:
df_medallas.iloc[1::2,1:4]

     Oro  Plata  Bronce
2   1032   1037     985
4    179    181     197
6    154    202     315
8    112    131     240
10    91    120     235

### ¿Qué país consiguió más de 200 medallas de oro?

In [67]:
df_medallas_oro = df_medallas.loc[,df_medallas["Oro"]>200]
df_medallas_oro

KeyError: 0

### ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

### ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

### Crea una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.