                                Ejercicios apply

In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [6]:
df = pd.read_csv('Data_frame_listo_para_usar.csv', index_col=0)
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates', 'latitud', 'longitud'],
      dtype='object')

In [7]:
lista_columnas = ['Land Area(Km2)','Armed Forces size','Co2-Emissions','GDP','Population','Urban_population','latitud','longitud','CPI','Density\n(P/Km2)']

def cambiar_comas(columna):
   
    try:
        return float(columna.replace(",", "."))
    
    except:
       
        return np.nan
for columna in lista_columnas:
    df[columna] = df[columna].apply(cambiar_comas)

In [8]:
df.dtypes
df.head(4)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,"('33.93911 ', '67.709953')",NaN,NaN
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,"('41.153332 ', '20.168331')",NaN,NaN
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,NaN,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,"('28.033886 ', '1.659626')",NaN,NaN
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,NaN,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,"('42.506285 ', '1.521801')",NaN,NaN

In [9]:
df["Co2-Emissions"] = df["Co2-Emissions"].apply(cambiar_comas)

In [10]:


def cambiar_comas(columns):
    try:
        return float(columns.replace(",", "."))
    except:
        return np.nan

In [11]:
df["Co2-Emissions"] = df["Co2-Emissions"].apply(cambiar_comas)

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [12]:
def asignar_continente(pais):

    continentes_paises = {
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'East Timor', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Republic of Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

    for continente, paises in continentes_paises.items():
        if pais in paises:
            return continente
        
df['Continent'] = df['Country'].apply(asignar_continente)

In [13]:

df.sample(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud,Continent
82,Israel,400.0,IL,24.6,20.770,178.0,20.80,972.0,Jerusalem,NaN,108.15,0.8,ILS,3.09,7.7,1.57,NaN,104.9,63.4,3.0,Jerusalem,82.8,3.0,7.58,Hebrew,24.4,4.62,NaN,64.0,23.1,25.3,3.86,NaN,"('31.046051 ', '34.851612')",NaN,NaN,Asia
18,Benin,108.0,BJ,33.3,112.622,12.0,36.22,229.0,Porto-Novo,NaN,110.71,-0.9,XOF,4.84,37.8,0.72,NaN,122.0,12.3,60.5,Cotonou,61.5,397.0,0.39,French,40.5,0.08,NaN,70.9,10.8,48.9,2.23,NaN,"('9.30769 ', '2.315834')",NaN,NaN,Africa
164,Spain,94.0,ES,52.6,505.370,196.0,7.90,34.0,Madrid,NaN,110.96,0.7,EUR,1.26,36.9,1.26,NaN,102.7,88.9,2.5,Madrid,83.3,4.0,5.60,Spanish,24.2,3.87,NaN,57.5,14.2,47.0,13.96,NaN,"('40.463667 ', '-3.74922')",NaN,NaN,Europe
64,Germany,240.0,DE,47.7,357.022,180.0,9.50,49.0,Berlin,NaN,112.85,1.4,EUR,1.56,32.7,1.39,NaN,104.0,70.2,3.1,Berlin,80.9,7.0,9.99,German,12.5,4.25,NaN,60.8,11.5,48.8,3.04,NaN,"('51.165691 ', '10.451526')",NaN,NaN,Europe
8,Australia,3.0,AU,48.2,NaN,58.0,12.60,61.0,Canberra,NaN,119.80,1.6,AUD,1.74,16.3,0.93,NaN,100.3,113.1,3.1,Sydney,82.7,6.0,13.59,NaN,19.6,3.68,NaN,65.5,23.0,47.4,5.27,NaN,"('-25.274398 ', '133.775136')",NaN,NaN,Oceania

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [14]:
df.to_csv('df_GroupApply.csv', index=False)

                                Ejercicios groupby

1. ¿Cuál es la densidad de población promedio por continente?

In [15]:
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates', 'latitud', 'longitud', 'Continent'],
      dtype='object')

In [16]:
densidad_poblacion = df.groupby('Continent')['Density\n(P/Km2)'].mean()
densidad_poblacion

Continent
Africa           115.563636
Asia             159.993000
Europe           126.243568
North America    185.944444
Oceania          147.250000
South America     25.000000
Name: Density\n(P/Km2), dtype: float64

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [17]:
esperanza_idioma = df.groupby('Official language')['Life expectancy'].mean()
esperanza_idioma

Official language
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: Life expectancy, Length: 76, dtype: float64

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [18]:
infantil_moneda = df.groupby('Currency-Code')['Infant mortality'].mean()
infantil_moneda

Currency-Code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: Infant mortality, Length: 133, dtype: float64

4. ¿Cuál es el salario mínimo por continente?

In [19]:
salario_continente = df.groupby('Continent')['Minimum wage'].mean()
salario_continente

Continent
Africa           0.658293
Asia             1.514474
Europe           4.784688
North America    2.424118
Oceania          4.032500
South America    1.582727
Name: Minimum wage, dtype: float64

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [20]:
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates', 'latitud', 'longitud', 'Continent'],
      dtype='object')

In [27]:
# tasa de impuestos total por cada asignar_continente
# calcular la densidad de poblacion por cada asignar_continente
# dividir la tasa de impuestos total entre la densidad de poblacion para obtener la tasa de impuestos
# total por persona por kilometro cuadrado.
# encuentra el pais que tiene el valor mas alto en esta nueva columna calculada.

tasa_impuestos_continente = df.groupby('Continent')['Total tax rate'].mean()
tasa_impuestos_continente
densidad_poblacion_continente = df.groupby('Continent')['Density\n(P/Km2)'].mean()
densidad_poblacion_continente
densidad_poblacion_continente = df.groupby('Continent')['Density\n(P/Km2)'].mean()
#tasa_impuestos_total_personakm2 = df[['Total tax rate'] / ['Density\n(P/Km2)']]
df['tasa_impuestos_total_personakm2'] = df['Total tax rate'] / df['Density\n(P/Km2)']

df['tasa_impuestos_total_personakm2']

0      1.190000
1      0.348571
2      3.672222
3           NaN
4      1.888462
         ...
190    2.290625
191    0.119745
192    0.475000
193    0.624000
194    0.831579
Name: tasa_impuestos_total_personakm2, Length: 195, dtype: float64

In [31]:
pais_max_tasa_impuestos = df.groupby('Country')['tasa_impuestos_total_personakm2']
pais_max_tasa_impuestos.max()

Country
Afghanistan    1.190000
Albania        0.348571
Algeria        3.672222
Andorra             NaN
Angola         1.888462
                 ...
Venezuela      2.290625
Vietnam        0.119745
Yemen          0.475000
Zambia         0.624000
Zimbabwe       0.831579
Name: tasa_impuestos_total_personakm2, Length: 195, dtype: float64

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [32]:
df['Urban_population'] = pd.to_numeric(df['Urban_population'], errors='coerce') 

urbana_continente = df.groupby('Continent')['Urban_population'].mean()
urbana_continente

Continent
Africa           407.677091
Asia             256.713400
Europe           366.026700
North America    207.084714
Oceania          115.057750
South America    296.585000
Name: Urban_population, dtype: float64

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [33]:


# Agrupar por idioma oficial y calcular la media del gasto en salud de bolsillo y del PIB
idioma_salud = df.groupby('Official language').agg({
    'Out of pocket health expenditure': 'mean',
    'GDP': 'mean'
})

# Calcular la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio
idioma_salud['Diferencia'] = idioma_salud['GDP'] - idioma_salud['Out of pocket health expenditure']


print(idioma_salud)

                   Out of pocket health expenditure  GDP  Diferencia
Official language
Afrikaans                                       7.7  NaN         NaN
Albanian                                       56.9  NaN         NaN
Amharic                                        37.8  NaN         NaN
Arabic                                         38.0  NaN         NaN
Armenian                                       81.6  NaN         NaN
...                                             ...  ...         ...
Tuvaluan Language                               0.7  NaN         NaN
Ukrainian                                      47.8  NaN         NaN
Urdu                                           66.5  NaN         NaN
Uzbek                                          42.7  NaN         NaN
Vietnamese                                     43.5  NaN         NaN

[76 rows x 3 columns]

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [34]:
# Primero, calcula la tasa de maternidad promedio para cada continente. 
#Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

maternidad_continente = df.groupby('Continent')['Maternal mortality ratio'].mean()
maternidad_continente

Continent
Africa           397.566038
Asia              77.717391
Europe             7.692308
North America     78.823529
Oceania           61.888889
South America     88.083333
Name: Maternal mortality ratio, dtype: float64

In [35]:
# Calcula la tasa de impuestos total promedio para cada continente.
# Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

impuestos_continente = df.groupby('Continent')['Total tax rate'].mean()
impuestos_continente

Continent
Africa           47.484906
Asia             33.240000
Europe           38.251220
North America    39.761111
Oceania          33.710000
South America    53.341667
Name: Total tax rate, dtype: float64

In [36]:
# Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

medias_continente = df.groupby('Continent')[['Maternal mortality ratio', 'Total tax rate']].mean()
medias_continente

               Maternal mortality ratio  Total tax rate
Continent
Africa                       397.566038       47.484906
Asia                          77.717391       33.240000
Europe                         7.692308       38.251220
North America                 78.823529       39.761111
Oceania                       61.888889       33.710000
South America                 88.083333       53.341667

In [37]:
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates', 'latitud', 'longitud', 'Continent',
       'tasa_impuestos_total_personakm2'],
      dtype='object')

In [46]:
# Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

#No entiendo eso de la tasa más alta por punto porcentual por más que busco en internet
#Maternal mortality ratio,Total tax rate,
media_fertility = df.groupby('Country')[['Fertility Rate', 'Total tax rate']].mean()
media_fertility['ratio']= media_fertility['Fertility Rate']/ media_fertility['Total tax rate']
media_fertility.sort_values(by = 'ratio',ascending=False)

                                Fertility Rate  Total tax rate     ratio
Country
Vanuatu                                   3.78             8.5  0.444706
Zambia                                    4.63            15.6  0.296795
East Timor                                4.02            17.3  0.232370
Brunei                                    1.85             8.0  0.231250
Lesotho                                   3.14            13.6  0.230882
...                                        ...             ...       ...
Palestinian National Authority             NaN             NaN       NaN
Somalia                                   6.07             NaN       NaN
Turkmenistan                              2.79             NaN       NaN
Tuvalu                                     NaN             NaN       NaN
Vatican City                               NaN             NaN       NaN

[195 rows x 3 columns]

9. Ejercicios bonus groupby:
¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?