                                Ejercicios apply

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [ ]:
df = pd.read_csv('world-data-2023-full.csv')
df.columns

In [ ]:
lista_columnas = ['Land Area(Km2)','Armed Forces size','Co2-Emissions','GDP','Population','Urban_population','latitud','longitud','CPI','Density\n(P/Km2)']

def cambiar_comas(columna):
   
    try:
        return float(columna.replace(",", "."))
    
    except:
       
        return np.nan
for columna in lista_columnas:
    df[columna] = df[columna].apply(cambiar_comas)

In [23]:
df.dtypes
df.head(4)

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates,latitud,longitud
0,0,Afghanistan,60.0,AF,58.10%,652.230,323.0,32.49,93.0,Kabul,NaN,149.90,2.30%,AFN,4.47,2.10%,0.70,NaN,104.00%,9.70%,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40%,0.28,NaN,48.90%,9.30%,71.40%,11.12%,NaN,"('33.93911 ', '67.709953')",NaN,NaN
1,1,Albania,105.0,AL,43.10%,28.748,9.0,11.78,355.0,Tirana,NaN,119.05,1.40%,ALL,1.62,28.10%,1.36,NaN,107.00%,55.00%,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90%,1.20,NaN,55.70%,18.60%,36.60%,12.33%,NaN,"('41.153332 ', '20.168331')",NaN,NaN
2,2,Algeria,18.0,DZ,17.40%,NaN,317.0,24.28,213.0,Algiers,NaN,151.36,2.00%,DZD,3.02,0.80%,0.28,NaN,109.90%,51.40%,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10%,1.72,NaN,41.20%,37.20%,66.10%,11.70%,NaN,"('28.033886 ', '1.659626')",NaN,NaN
3,3,Andorra,164.0,AD,40.00%,468.000,NaN,7.20,376.0,Andorra la Vella,NaN,NaN,NaN,EUR,1.27,34.00%,1.51,NaN,106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40%,3.33,77.142,NaN,NaN,NaN,NaN,67.873,"('42.506285 ', '1.521801')",NaN,NaN

In [ ]:
lista_columnas = ['Land Area(Km2)','Armed Forces size','Co2-Emissions','GDP','Population','Urban_population','latitud','longitud','CPI','Density\n(P/Km2)']

def convertir_numerico(df,lista_columnas):
    """
    Convierte una columna en numerica 

    Args:
        columna (str): Una columna en string q

    Returns:
        float: El número decimal equivalente en formato de número flotante.
    """
    for columna in lista_columnas:
        df[columna] = pd.to_numeric(df[columna], errors='coerce')

    return df

df[lista_columnas].apply(convertir_numerico)

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

                                Ejercicios groupby

1. ¿Cuál es la densidad de población promedio por continente?

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4. ¿Cuál es el salario mínimo por continente?

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

9. Ejercicios bonus groupby:
¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?